<!DOCTYPE html>
<html>
<head>
	<link href="//cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css" rel="stylesheet">
</head>
<body>

<h1 class="demo-logo">
         demo
</h1>

<div class="server-data">
	server-data: ${title},${message}!!
</div>

<form action="/submit" method="get">
	<input type="text" placeholder="name" name="name">
	<button type="submit">提交</button>
</form>

<form action="/sub" method="post">
	<input type="text" placeholder="name" name="name">
	<button type="submit">提交</button>
</form>
    

<script type="text/javascript">
 	
</script>    
</body>
</html>